body{
	margin: 0;
	font-family: "Montserrat", "Avenir";
	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble.png)
}
.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	--webkit-transition:background 0.6s;
	-moz-transition:background 0.6s;
}
#container{
	margin: 20px auto;
	max-width: 600px;

}
h1{
	color: black;
	line-height: 1.1;
	font-weight: normal;
	text-align: center;
	
	margin: 0 ;
	padding: 20px 0;
	text-transform: uppercase;
}
.new{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxmf1Mw06M8MFI8CWGcm8F2G_uOhbDw_s1JA&usqp=CAU)
	}
#message{
	display: inline-block;
	width: 40%
}
#colorDisplay{
	font-size: 200%;
}
 
#stripe{
	background-color: white;	
	height: 30px;
	text-align: center;
	color: black;
}
.selected{
	color: white;
	background-color: steelblue;
}
button{
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	--webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;;
}
button:hover{
	color: white;
	background-color: steelblue;
}
h3{
	text-align: right;
	font-family: "Sofia";
  font-size: 22px;
}

